<article class="post">

	<div class="pull-right">
		{{ share_buttons('http://www.charybde.fr/blog/' ~ post.url, post.title)|raw }}
	</div>
	<h1>
		<a href="/blog/{{ post.url }}">{{ post.title }}</a>
	</h1>
	<p class="post-infos">
		<i class="fa fa-clock-o"></i>
		{{ post.date|date('d/m/Y') }}
		{% if post.has('category') and post.category_id == 54 %}
			&nbsp;
			<i class="fa fa-user"></i>
			<a href="/blog/author/{{ post.author.slug }}/?category={{ post.category.url }}">{{ post.author.screen_name }}</a>
			&nbsp;
			<i class="fa fa-folder"></i>
			<a href="/pages/charybde-tv">{{ post.category.name }}</a>
		{% elseif post.has('category') %}
			&nbsp;
			<i class="fa fa-user"></i>
			<a href="/blog/author/{{ post.author.slug }}/?category={{ post.category.url }}">{{ post.author.screen_name }}</a>
			&nbsp;
			<i class="fa fa-folder"></i>
			<a href="/blog/{{ post.category.url }}/">{{ post.category.name }}</a>
		{% elseif post.has('author') %}
			&nbsp;
			<i class="fa fa-user"></i>
			<a href="/blog/author/{{ post.author.slug }}/">{{ post.author.screen_name }}</a>
		{% endif %}
	</p>

	{% if post.has('category_id') and (post.category.id == 3 or post.category.id == 45) %}

		<div class="row">

			<div class="col-sm-4">
				{% if post.articles %}

					<div class="linkedArticles center">
						{% for article in post.articles %}

							{% if article.hasCover() %}
								<article>
									{{ article.getCoverTag({ class: "selectedCover", size: "w200" })|raw }}
									<p class="center">
										{{ article.title }}
										<br>
										de
										{{ article.authors }}<br>
										ed.
										{{ article.publisher }}
									</p>

									<div class="btn-group">
										<a class="btn btn-default btn-sm pointer add_to_cart event" data-type="article" data-id="{{ article.id }}" title="Ajouter à mon panier">
											<i class="fa fa-shopping-cart black"></i>
										</a>
										<a class="btn btn-default btn-sm pointer event" data-wish="{{article.id}}" title="Ajouter à mes envies">
											<i class="fa fa-heart-o black"></i>
										</a>
										<a class="btn btn-default btn-sm pointer event" data-alert="{{article.id}}" title="Créer une alerte">
											<i class="fa fa-bell-o black"></i>
										</a>
									</div>
								</article>
							{% endif %}

						{% endfor %}
					</div>

				{% endif %}
			</div>

			<div class="col-sm-8">
				{% if post.has('content') %}
					{{ post.content|raw }}
				{% endif %}
			</div>

		</div>

	{% else %}

		{% if post.has('content') %}
			{{ post.content|raw }}
		{% endif %}

		{# video category #}
		{% if post.has('category_id') and post.category.id == 54 %}

			<div class="row">

				{% if articles is defined and articles %}

					<div class="col-sm-6">
						<h3>Livres associés</h3>
						<ul>
							{% for article in articles %}
								<li>
									<a href="/{{ article.url }}">{{ article.title }}</a>
									de
									{{ article.authors }}</li>
							{% endfor %}
						</ul>
					</div>

				{% endif %}

				{% if peoples is defined and peoples %}

					<div class="col-sm-3">
						<h3>Auteurs associés</h3>
						<ul>
							{% for people in peoples %}
								<li>
									<a href="/{{ people.url }}/">{{ people.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>

				{% endif %}

				{% if publishers is defined and publishers %}

					<div class="col-sm-3">
						<h3>Éditeurs associés</h3>
						<ul>
							{% for publisher in publishers %}
								<li>
									<a href="/editeur/{{ publisher.url }}/">{{ publisher.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>

				{% endif %}

			</div>

			{# not video category but articles linked #}
		{% elseif post.articles %}

			<div class="linkedArticles center">
				{% for article in post.articles %}

					<article>

						{% if article.hasCover() %}
							<p>
								<a href="/{{ article.url }}" title="{{ article.title }} de {{ article.authors }}">
									<img src="{{ article.getCover('object').url('h150') }}" alt="{{ article.title }}" height="150">
								</a>
							</p>
						{% endif %}
						<div class="btn-group">
							<a class="btn btn-default btn-sm pointer add_to_cart event" data-type="article" data-id="{{ article.id }}" title="Ajouter à mon panier">
								<i class="fa fa-shopping-cart black"></i>
							</a>
							<a class="btn btn-default btn-sm pointer event" data-wish="{{article.id}}" title="Ajouter à mes envies">
								<i class="fa fa-heart-o black"></i>
							</a>
							<a class="btn btn-default btn-sm pointer event" data-alert="{{article.id}}" title="Créer une alerte">
								<i class="fa fa-bell-o black"></i>
							</a>
						</div>
					</article>

				{% endfor %}
			</div>

		{% endif %}

	{% endif %}
</article>
